/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    background-color: #f5ebeb;
    color: #070000;
}

/* Estilo geral do corpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f8e2e2, #ffecec);
}

/* Main */
main {
    width: 90%;
    max-width: 800px;
    background: rgb(194, 170, 170);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Passos */
.passo {
    display: none;
    padding: 20px;
    text-align: center;
}

.passo.ativo {
    display: block;
}

/* Botões */
button {
    background: #123458;
    color: rgb(252, 252, 252);
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Imagens */
img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Parágrafos */
p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
